.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
*.log
.idea/
*.iml

android/.gradle/
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

backend/.env
backend/node_modules/
backend/*.log
npm-debug.log*
