PORT=4000
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=kds
MYSQL_PASSWORD=change-this-db-password
MYSQL_DATABASE=kds_app
JWT_SECRET=change-this-long-random-secret
ADMIN_PHONE=01700000000
ADMIN_NAME=KDS Super Admin
ADMIN_PASSWORD=change-this-admin-password
